
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-app="category" ng-controller="myCategory">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control" ng-model="dllCategory" ng-options="category.CategoryName for category in categoryList track by category.CategoryId">
                        <option value="">---Select---</option>
                    </select>
                </div>

            </div>
        </div>
    </form>
</div>



@section Scripts{
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/js/cat.js"></script>


}

